<div>
  <div class="callout">
    <p><%= params[:question] %></p>
    <p>-You</p>
  </div>

  <div class="callout callout-warning">
    <% if params[:question] == "I am going to work" %>
      <%= "Great!" %>
    <% elsif params[:question].end_with?("?") %>
      <%= "Silly question, get dressed and go to work!" %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    <p>-Your coach</p>

  </div>
    <%= link_to "Ask a new question", ask_path %>

</div>
